@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lora', sans-serif;
    background-color: #f0f2f5;
}

.header {
    background-image: url('../img/bg_image.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.header-blog {
    background-image: url('../img/bg-image-blog.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.header-new {
    background-image: url('../img/bg-new.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
    box-shadow: none;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F8F9FA;
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand {
    margin-left: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav_main_item a {
    color: #495057;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.main-item.all {
    color: #D4A373;
}

.view-all {
    margin-left: auto;
    color: #D4A373;
}

.topics-bar {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.topics-bar .main-item.all {
    margin-left: 0;
}

.all {
    color: #D4A373;
}

.topics-bar .main-item {
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6C757D;
    text-decoration: none;
}

.topics-bar .view-all {
    margin-left: auto;
}

.blog-row1, .blog-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    width: 77px;
    height: 22px;
    right: 1293px;
    top: 278px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    left: 70px;
}

.category p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: #FFFFFF;
    text-align: right;
    margin: 0;
}

.title {
    position: absolute;
    width: 530px;
    height: 92px;
    left: 70px;
    top: 315px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.details {
    position: absolute;
    left: 70px;
    top: 422px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.details .date {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    color: #E5E5E5;
}

.line {
    width: 30px;
    height: 0;
    border: 1px solid #E5E5E5;
    margin-top: -15px;
}

.details .description {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #E5E5E5;
    width: 420px;
    height: 40px;
}

.details .additional-text {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #E5E5E5;
    width: 420px;
    height: 40px;
}

.pagination {
    position: absolute;
    top: 522px;
    left: 70px;
    display: flex;
    gap: 18px;
}

.pagination .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.pagination .dot.active {
    background: #FFFFFF;
}

.menu-item {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #E5E5E5;
    text-transform: uppercase;
    margin-right: 15px;
}

.separator {
    font-size: 16px;
    color: #E5E5E5;
    padding: 0 10px;
    line-height: 2.2;
    top: 10000px;
}

.menu-item:hover {
    color: #FFFF;
}

.social-icons i {
    font-size: 18px;
    color: #E5E5E5;
    transition: color 0.2s ease-in-out;
}

.social-icons i:hover {
    color: #FFFF;
}

.social-icons a:hover {
    color: #FFFF;
}

.social-icons-new{
    display: flex;
    gap: 10px;
}

.social-icons-new i {
    font-size: 18px;
    color: #495057;
    transition: color 0.2s ease-in-out;
}

.social-icons-new i:hover {
    color: #000000;
}

.social-icons-new a:hover {
    color: #000000;
}

.blog-regular {
    margin-left: 70px;
}

h2 {
    color: #495057;
    font-size: 36px;
    font-family: Lora, sans-serif;
    font-weight: 700;
}

.main-item {
    text-decoration: none;
    color: #495057;
    font-size: 16px;
    font-family: Lora, sans-serif;
    font-weight: 700;
}

.main-item:hover {
    color: #D4A373;
}

.blog img {
    width: 100%;
    height: 280px;
    border-radius: 5px 5px 0 0;
}

.blog-home img {
    width: 420%;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.blog-home img {
    width: 100%;
    height: 280px;
    border-radius: 5px 5px 0 0;
}

.blog-home {
    width: 310px;
    height: auto;
    margin-bottom: 0px;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.blog {
    width: 310px;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.blog:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.blog-home:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.blog-title {
    color: #495057;
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.blog-text {
    color: #6C757D;
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.blog-date {
    color: #6C757D;
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.big_post {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/big_post.jpeg");
    margin-top: 200px;
    height: 750px;
    position: relative;
}

.big_post-blog {
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/bg-image-Big-Post-blog.jpeg");
    background-position: center top;
    background-size: cover;
    margin-top: 200px;
    height: 600px;
    position: relative;
}

.big_post_content {
    width: 530px;
    height: 245px;
    position: absolute;
    top: 34%;
    left: 34%;
    text-align: center;
}

.fashion {
    width: 62px;
    height: 22px;
    margin-left: 44.5%;
    background-color: #FFFFFF26;
    border-radius: 5px;
}

.description-blog {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #E5E5E5;
    width: 420px;
    height: 40px;
}

.big-var {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 35px;
}

.fashion p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 3px;
}

h3 {
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.blog_metro {
    margin-top: 180px;
    margin-left: 70px;
    margin-right: 70px;
    height: 466px;
}

.blog_metro_content {
    display: flex;
    justify-content: space-between;
}

.editors_pick_1 {
    background-image: url(../img/editors_pick1.jpeg);
    background-size: cover;
    width: 420px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.editors_pick_2 {
    background-image: url(../img/editors_pick2.jpeg);
    background-size: cover;
    width: 420px;
    height: 350px;
    border-radius: 5px;
    position: relative;
}

.editors_pick_3 {
    background-image: url(../img/editors_pick3.jpeg);
    background-size: cover;
    width: 420px;
    height: 350px;
    border-radius: 5px;
    position: relative;
}

.editors_pick_1-blog {
    background-image: url(../img/editors_pick_1-blog.jpeg);
    background-size: cover;
    width: 420px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.editors_pick_2-blog {
    background-image: url(../img/editors_pick_2-blog.jpeg);
    background-size: cover;
    width: 420px;
    height: 350px;
    border-radius: 5px;
    position: relative;
}

.editors_pick_content {
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: left;
}

.editors_pick_content h3 {
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.editors_pick_content p {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #E5E5E5;
}

.footer {
    background-color: #212529;
    margin-top: 150px;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 1162px;
    height: 188px;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.footer p {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #E5E5E5;
}

.footer a {
    width: 20px;
    height: 20px;
    color: #E5E5E5;
    margin: 0.6%;
}

.sub_footer {
    width: 100%;
    height: 80px;
    background-color: #343A40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_footer_content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px 0;
}

.sub_footer_content h4 {
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #E5E5E5;
}

.sub_footer_content p {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #E5E5E5;
}

.title_big_post {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.text_big_post {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: #E5E5E5;
    margin-bottom: 20px;
}

.date_big_post {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: #E5E5E5;
}

.editor_pick:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.author-details p {
    margin: 0;
    font-size: 14px;
}

.role {
    color: gray;
    font-size: 12px;
}

.location {
    color: #6C757D;
    font-size: 18px;
}

.info-new {
    background-color: #FFFFFF;
    padding: 50px 70px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-new .post {
    max-width: 800px;
    margin: 0 auto;
}

.info-new .post p {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 25px;
    color: #495057;
}

.info-new .post .img_post {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
    position: relative;
}

.info-new .post .img_post img {
    width: 48%;
    border-radius: 10px;
    width: 420px;
    height: 300px;
}

.info-new .post h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 700;
    color: #D4A373;
    margin: 20px 0;
}

.info-new .tag-buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.hover-tag:hover {
    cursor: pointer;
    background-color: #E5E5E5;
}

.info-new .tag-button {
    border: 1px solid #E5E5E5;
    color: #6C757D;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 700;
}

.info-new .author-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.info-new .author-blog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.info-new .author-blog div {
    display: flex;
    align-items: center;
}

.info-new .author-blog p {
    margin: 0;
    font-size: 14px;
    color: #495057;
}

.info-new .author-blog .role {
    color: gray;
    font-size: 12px;
}

.info-new .author-blog .social-icons {
    display: flex;
    gap: 10px;
}